[submodule "Viewers"]
	path = Viewers
	url = https://github.com/BEOKS/Viewers.git
[submodule "server/orthanc/orthanc-mongodb"]
	path = server/orthanc/orthanc-mongodb
	url = https://github.com/BEOKS/orthanc-mongodb.git
