<!DOCTYPE HTML>
<html>
<head>
    <title>Dicom API Test</title>
</head>

<body>
    <div>
        {{#userName}}
        Logged in as: <span id="user">{{userName}}</span>
        <a href="/logout" class="btn btn-info active" role="button">Logout</a>
        {{/userName}}
        {{^userName}}
        <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
        {{/userName}}
    <div/>
<form action="/api/patient/00000003/dicom" method="get">
    <button type="submit">Patient ID로 다운로드</button>
</form>

<a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
<br>

<form action="/api/patient/00000003/study" method="GET" enctype="text/plain">
    <button type="submit">Study UID GET by PatientID</button>
</form>

<br>

<form action="/api/dicom/3fb6fc01-4ca0db35-dff6d53b-232b607d-1608a2e5" method="get">
    <button type="submit">파일 하나 다운로드</button>
</form>

<br>

<form action="/api/dicom" method="POST" enctype="multipart/form-data">
    <input type='file' name='dicomfile'/>
    <button type="submit">업로드</button>
</form>

</body>

</html>