<!DOCTYPE HTML>
<html>
<head>
    <title>Hi</title>
</head>

<body>
<form action="/api/dicom/3fb6fc01-4ca0db35-dff6d53b-232b607d-1608a2e5" method="get">
    <button type="submit">다운로드 버튼</button>
</form>

</body>

</html>