.dx-datagrid-header-panel {
    padding: 7px;
    background-color:aliceblue;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.dx-datagrid-header-panel .dx-toolbar {
    margin: 0;
    background-color: transparent;
}